/* frontend/src/pages/AdminLogin.css */
.admin-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #5a2a77;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #553c9a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #432a7a;
}